html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #b3b3ff;
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
}

.light-blue{
    background-color: #66ccff;
}
#container{
    padding:100px;
}

#landing {
    width: 100%;
    height: 100%;
    padding:50px,0;
    background: linear-gradient( rgba(0, 0, 0,0), rgba(0, 0, 0, 0.25)),url('img/balloon-3.jpg') no-repeat top;
    background-size: cover;
}

#landing h1,
#landing h2{
    text-align: center;
}
#landing h1{
    font-size: 100px;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

.navbar {
    background: transparent;
    position: center
}
