html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #99ccff;
   
}

h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    font-family: Kranky;
}

p{
    font-family: 'Love Ya Like A Sister', cursive;

}

.light-blue{
    background-color:#ccf2ff;
    padding: 100px;
}


#landing {
    width: 100%;
    height: 100%;
    padding:50px,0;
    background: linear-gradient( rgba(0, 0, 0,0.5), rgba(0, 0, 0,0)),url('img/balloon-3.jpg') no-repeat top;
    background-size: cover;
}

#landing h1,
#landing h2{
    text-align: center;
}
#landing h1{
    font-size: 100px;
    font-family: 'Monoton', cursive;;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#fun{
    background: linear-gradient( rgba(0, 0, 250,.25), rgba(0, 0, 0, 0.75)),url('img/home.jpg') no-repeat center;
    background-size: cover;
}
#fun h1,
#fun p{
    color:white;
}





.navbar {
    background: transparent;
    float: right;
    margin: 0 auto;
    font-size: x-large;
    font-weight: bold;
    font-style: important;
    border-color: transparent;
}


.footer{
    background-color: #00ffcc;
    padding:5px;

}

.jumbotron {
   background: url(img/balloon-1.jpg);
}