html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #99ccff;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    font-family: Kranky;
}

p {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

.container {
    border-radius: 50px;
}

.light-blue {
    background-color: #ccf2ff;
    padding: 100px;
}

#landtext {
    padding: 50px;
}

#landing {
    width: 100%;
    height: 100%;
    padding: 50px, 0;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url('img/balloon-3.jpg') no-repeat top;
    background-size: cover;
}

#landing h1 {
    font-size: 150px;
    font-family: 'Monoton', cursive;
    ;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#fun {
    background: linear-gradient( rgba(0, 0, 250, .25), rgba(0, 0, 0, 0.75)), url('img/home.jpg') no-repeat center;
    background-size: cover;
}

#fun h1,
#fun p {
    color: white;
}

.navbar {
    background: transparent;
    float: right;
    margin: 0 auto;
    font-size: x-large;
    font-weight: bold;
    font-style: important;
    border-color: transparent;
}

#infobg {
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.75)), url(img/balloon-2.jpg) no-repeat center;
    background-size: cover;
}

.footer {
    font-family: 'Coming Soon', cursive;
    ;
    padding: 5px;
}

.jumbotron {
    background: url(img/balloon-1.jpg);
    padding: 150px;
}

.jumbotron p {
    color: black;
}

.form {
    margin: 40px;
    position: fixed;
    bottom: -60px;
    right: -50px;
    width: 75px;
    height: 60px;
    border: 5px solid white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    box-shadow: 5px 5px 5px grey;
}
