html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #99ccff;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    font-family: Kranky;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    ;
}

h3 {
    color: white;
    font-family: fantasy;
}

p {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 15px;
}

.container {
    border-radius: 50px;
}

#landtext {
    padding: 30px;
}

#landing {
    width: 100%;
    height: 100%;
    padding: 50px, 0;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .5)), url('img/balloon-3.jpg') no-repeat top;
    background-size: cover;
}

#landing h1 {
    font-size: 150px;
    font-family: 'Monoton', cursive;
    animation-name: txtcolor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes txtcolor {
    0% {
        color: #ffccd9;
    }
     25% {
        color: #ffe6cc;
    }
     50% {
        color: #99ffbb;
    }
     75%{
        color: #99ffff;
     }
    100% {
        color: #d9b3ff;
    }
}

.col-sm-offset-4 {
    padding-left: 50px;
}

.col-sm-offset-5 {
    padding-left: 100px;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#fun {
    background: linear-gradient( rgba(0, 0, 250, .25), rgba(0, 0, 0, 0.75)), url('img/home.jpg') no-repeat center fixed;
    background-size: cover;
}

.navbar {
    background: transparent;
    float: right;
    margin: 0 auto;
    font-size: x-large;
    font-weight: bold;
    font-style: important;
    border-color: transparent;
    font-family: Wendy One;
}

#infobg {
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.75)), url(img/balloon-2.jpg) no-repeat center fixed;
    background-size: cover;
}

#testimonialsbg {
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.75)), url(img/balloon-5.jpg) no-repeat center fixed;
    background-size: cover;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 150, 0), rgba(250, 250, 250, .5)), url(img/balloon-1.jpg) no-repeat top fixed;
    background-size: cover;
    padding: 150px;
}

.jumbotron p {
    color: black;
}

.form {
    margin: 40px;
    position: fixed;
    bottom: -60px;
    right: -50px;
    width: 75px;
    height: 60px;
    border: 5px solid white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    box-shadow: 5px 5px 5px grey;
}

@media(min-width:400px) {
    #landing h1 {
        font-size: 60px;
    }
     #landing h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
        padding-left: 25px;
    }
}

@media(min-width:768px) {
    #landing h1 {
        font-size: 80px;
    }
    #landing h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
        padding-left: 25px;
    }
}

@media(min-width:992px) {
    #landing h1 {
        font-size: 110px;
    }
    #landing h2 {
        font-size: 40px;
    }
    h1 {
        font-size: 50px;
        padding-left: 25px;
    }
}

@media(min-width:1080px) {
    #landing h1 {
        font-size: 150px;
    }
    #landing h2 {
        font-size: 50px;
    }
    h1 {
        font-size: 50px;
        padding-left: 25px;
    }
}
